.itemCard {
  min-width: 19vw;
  cursor: pointer;
}
.productCardImg {
  height: 240px;
  width: 295px;
}

.productContainer {
  display: flex;
  /* width: 100%; */
  width: 98%;
  flex-wrap: wrap;
  justify-content: space-between;
}
